<div id="page">

    <% IF flash.info %>
        <span id="flash"><% flash.info %></span>
    <% END %>

    <% IF flash.error %>
        <span id="error"><% flash.error %></span>
    <% END %>

    <form action="/message" method="post">
        <label for=message>Message</label>
        <input type=text name=message />
        <input type=submit value=Submit />
    </form>
</div>
