<div id="page">

    <% IF flash.info %>
        <span id="flash"><% flash.info %></span>
    <% END %>

    <% IF flash.error %>
        <span id="error"><% flash.error %></span>
    <% END %>


    <table><tr><th>Name</th><th>Address</th></tr>
    <% FOREACH member = members %>
    <tr><td><% member.name %></td><td><% member.address %></td><td><a href="/members/delete/<% member.id %>">Delete</a></td></tr>
    <% END %>
    </table>

</div>
